name: Laravel

on:
  push:
    branches: ["main", "qa", "develop","features/*"]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        php: [8.2]

    name: PHP ${{ matrix.php }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
  call-workflow:
    - name: Run tests
      uses: ./.github/workflows/test.yml@main

